# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
.turbo/
.vercel/
.swc/
out/

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
ui-debug.log
.firebaserc
packages/functions/lib
packages/app/build
firebase-debug.log

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo

.vscode/*.log